<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="https://fontmeme.com/permalink/180221/107c7feb0395c97d7f094e2a94ccb4b2.png" alt="pokemon-font" border="0" id='im'></a>
    <ul id="nav-mobile" class="right hide-on-small-and-down">
      <li>
        <a href="/pokedex">My Pokedex</a>
      </li>
      <li>
        <a href="/dex">Dex Reference</a>
      </li>
    </ul>
  </div>
</nav>