<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    
  </head>
  
  <body>
   
    
  
  <center>
    <h1>
      <img  class='logo' src='<%= title %>'>
    </h1>
    <p id='welcome'>Welcome to Dexter
      <br> The solution for all of your Pokedex needs.
    </p>
    <button class='home btn red'><a href="/pokedex">My Pokedex</a></button>
    <button class='home btn red'><a href="/dex">Dex Reference</a></button>
 

  </center>
    
  </body>
  
  </html>